<app-header></app-header>
<div class="row">
  <div class="col-12 col-sm-4 text-center">
    <img
      class="p-3"
      src="{{ productDetail?.imageUrl }}"
      width="183px"
      height="276px"
    />
  </div>
  <div class="col-12 col-sm-5">
    <h1>{{ productDetail?.productName }}</h1>
    <div class="crop" [style.width.px]="(productDetail?.starRating! * 90) / 5">
      <!-- dùng ng-for hiển thị rating -->
      <div style="width: 90px">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
    </div>
    <div class="text-justify">
      <h4>Code: {{ productDetail?.productCode }}</h4>
    </div>
    <div class="text-justify">
      <h5>description:</h5>
      {{ productDetail?.description }}
    </div>
    <h3>Price : {{ productDetail?.price | currency }}</h3>
    <h5>Quantity in stock : {{ productDetail?.stock }}</h5>
    <button
      class="btn btn-primary"
      [disabled]="!productDetail?.stock"
      (click)="Add()"
    >
      Buy
    </button>
  </div>
  <div class="col-12 col-sm-3">
    <div class="border mt-2 p-2">
      <a href="#" style="float: left">
        <i class="bi bi-cart3" style="font-size: 50px"></i>
      </a>
      <div class="text-center">
        <p>{{ ItemCount() }}</p>
        Total :
        {{ ItemSum() | currency }}
        <br />
        <button
          class="btn btn-primary"
          style="margin-top: 10px"
          data-bs-toggle="modal"
          data-bs-target="#modalId"
        >
          View Cart
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalId"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  role="dialog"
  aria-labelledby="modalTitleId"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Cart</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table style="width: 100%" class="text-center table">
          <thead>
            <tr>
              <th>Picture</th>
              <th>Product name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total amount</th>
              <th></th>
            </tr>
          </thead>
          <!-- dùng ng-for thể hiện giỏ hàng -->
          <tbody>
            @for (item of cartList; track $index) {
            <tr>
              <td>
                <img
                  src="{{ item.imageUrl }}"
                  style="height:100px; width: 200px"
                />
              </td>
              <td class="align-middle">{{ item.name}}</td>
              <td class="align-middle">{{ item.price | currency }}</td>
              <td class="align-middle">{{ item.quantity  }}</td>
              <td class="align-middle">
                {{ item.price! * item.quantity! | currency }}
              </td>
              <td class="align-middle">
                <button class="btn btn-danger" (click)="Remove($index)">
                  Remove
                </button>
              </td>
            </tr>
            }
            <tr>
              <th colspan="2"></th>
              <th>Sum price:</th>
              <th>{{ ItemCount() }}</th>
              <th>{{ ItemSum() | currency }}</th>
              <th>
                <button class="btn btn-danger" (click)="DeleteAll()">
                  Delete All
                </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Optional: Place to the bottom of scripts -->
<script>
  const myModal = new bootstrap.Modal(
    document.getElementById("modalId"),
    options
  );
</script>
