<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-12 col-sm-6 col-md-3 col-lg-2 d-md-block bg-dark sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                            [routerLink]="['/dashboard']">
                            <!-- <span data-feather="home"></span> aria-current="page"-->
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                            [routerLink]="['/dashboard/user-list']">
                            User
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                            [routerLink]="['/dashboard/product']">
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="logout"></span>
                            logout
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main Content   px-md-4 -->
        <main class="col-12 col-sm-6 col-md-9 col-lg-10 ms-sm-auto px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>
            <!-- Cards Section -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 1</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 3</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Table Section -->

            <router-outlet></router-outlet>
        </main>
    </div>

</div>

